<div id="revno" style="display:none"></div>
<%var d;%>
<%//for email use _id.substring(6); %>
<p>
<div id="namestatic">
Welcome back, <%= name; %>.
<span style="float:right;">
	<button onclick="logout();">Log Out</button>
</span>
</div>
<div id="nameedit" style="display:none">
<input type="text" id="editnametext" onkeypress="onEnter(event, changename);" value="<%= name %>">
<button onclick="changename();">Submit</button>
<button onclick="closechangename();">Cancel</button>
</div>
</p>
About Me:
<div id="biostatic">
<p>
<%var blah = bio;%>
<%if(blah == ""){%>
<%blah = "Press 'Edit Your Bio' to add a brief note about yourself";%>
<%}%>
<%= blah %>
</p>
<button onclick="openchangename();">Change Your Name</button>
<button onclick="openeditbio();">Edit Your Bio</button>
</div>
<div id="bioedit" style="display:none">
<p>
<textarea rows=4 cols=40 id="editbiotext" onkeypress="onEnter(event, editbio);"><%= bio %></textarea>
</p>
<button onclick="editbio();">Submit</button>
<button onclick="closeeditbio();">Cancel</button>
</div>
<%var now = new Date();%>
<%var clientexp = false;%>
<%if(client.length > 0){%>
	<%var cliststart = true;%>
	<%for(var i = 0; i < client.length; i++){%>
		<%if(now.getTime() < client[i].exptime){%>
			<%if(cliststart){%>
				<%cliststart = false;%>
				<hr>
				<h4>Active Surveys:</h4>
			<%}%>
			<button onclick="entertake('<%=client[i].id%>', '<%=client[i].pass%>')">answer</button>
			<%=client[i].title%>
			<%d = new Date(client[i].exptime);%>
			<%=' ends ' + (d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear() + ' at ' + d.getHours() + ':' + d.getMinutes()%>
			<br/>
		<%}else{%>
			<%clientexp = true;%>
		<%}%>
	<%}%>
	<br/>
<%}%>
<!--SURVEY REGISTRATION FORM-->
<div id="collapsedregistersurvey">
<button onclick="expandregistersurvey()">Sign up for a survey</button>
</div>
<div id="expandedregistersurvey" style="display:none">
Register to an Existing Survey:
<br/>
<input id="registersurveyname" type="text" placeholder="Name of Survey"></input>
<br/>
<div id="clientregistersurvey">
<input id="registersurveypass" type="password" placeholder="Client password"></input>
<button onclick="expandeditorregister()">Register as editor instead</button>
<br/>
<button onclick="clientregistersurvey()">Register as client</button>
<button onclick="collapseregistersurvey()">Cancel</button>
</div>
<div id="editorregistersurvey" style="display:none">
<input id="registersurveyeditpass" type="password" placeholder="Editor password"></input>
<button onclick="expandclientregister()">Register as client instead</button>
<br/>
<button onclick="editorregistersurvey()">Register as editor</button>
<button onclick="collapseregistersurvey()">Cancel</button>
</div>
</div>
<%if(editor.length > 0){%>
	<hr>
	<h4>Editable Surveys:</h4>
	<%for(var i = 0; i < editor.length; i++){%>	
		<button onclick="enteredit('<%=editor[i].id%>', '<%=editor[i].editpass%>')">edit</button>
		<%if(now.getTime() < editor[i].exptime){%>
			<button onclick="entertake('<%=editor[i].id%>','<%=editor[i].editpass%>')">answer</button>
		<%}else{%>
			<button onclick="enterview('<%=editor[i].id%>','<%=editor[i].editpass%>')">view</button>
		<%}%>
		<%=editor[i].title%>
		<%d = new Date(editor[i].exptime);%>
		<%var ending = ' ';%>
		<%if(now.getTime() < editor[i].exptime){%>
			<%ending = ' ends ';%>
		<%}else{%>
			<%ending = ' ended ';%>
		<%}%>
		<%=ending + (d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear() + ' at ' + d.getHours() + ':' + d.getMinutes()%>
		<br/>
	<%}%>
	<br/>
<%}%>
<!--SURVEY CREATION FORM-->
<div id="collapsedcreatesurvey">
<button onclick="expandcreatesurvey()">Create a new survey</button>
</div>
<div id="expandedcreatesurvey" style="display:none">
Create a New Survey:
<br/>
<input id="newsurveyname" type="text" placeholder="Name of Survey"></input>
<br/>
<input id="newsurveypass1" type="password" placeholder="Client password"></input>
<br/>
<input id="newsurveypass2" type="password" placeholder="Retype client password"></input>
<br/>
<input id="newsurveyeditpass1" type="password" placeholder="Editor password"></input>
<br/>
<input id="newsurveyeditpass2" type="password" placeholder="Retype editor password"></input>
<br/>
Expires on:
<br/>
<input id="newsurveyexpmonth" type="number" style="width:32px" placeholder="MM"></input>
/
<input id="newsurveyexpday" type="number" style="width:32px" placeholder="DD"></input>
/
<input id="newsurveyexpyear" type="number" style="width:45px" placeholder="YYYY"></input>
&nbsp&nbsp
<input id="newsurveyexphour" type="number" style="width:32px" placeholder="HR"></input>
:
<input id="newsurveyexpmin" type="number" style="width:32px" placeholder="MN"></input>
<br/>
<button onclick="createsurvey()">Create</button>
<button onclick="collapsecreatesurvey()">Cancel</button>
</div>
<br/>
<%if(clientexp == true){%>
	<hr>
	<h4>Expired Surveys:</h4>
	<%for(var i = 0; i < client.length; i++){%>
		<%if(now.getTime() >= client[i].exptime){%>
			<button onclick="enterview('<%=client[i].id%>', '<%=client[i].pass%>')">view</button>
			<%=client[i].title%>
			<%d = new Date(client[i].exptime);%>
			<%=' ended ' + (d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear() + ' at ' + d.getHours() + ':' + d.getMinutes()%>
			<br/>
		<%}%>
	<%}%>
	<br/>
<%}%>
