<% var you = -1; %>
<% var showtally = options.showtallyontake == "true"; %>
<% var showresp = options.showrespontake == "true"; %>
<% var yourcomment = "" %>
<% var youranswer = -1 %>
<% var hascommented = false; %>
<% for(var i = 0; i < responses.length; i++){ %>
<% if(responses[i].name == username) { %>
<% you = i; %>
<% hascommented = true; %>
<% yourcomment = responses[i].comment; %>
<% youranswer = responses[i].answer; %>
<% } %>
<% } %>
<% if(showtally){ %>
<% var tallies = []; %>
<% for(var i = 0; i < answers.length; i++){ %>
<% tallies.push(0); %>
<% } %>
<% for(var i = 0; i < responses.length; i++){ %>
<% if(responses[i].answer >= 0){ %>
<% tallies[responses[i].answer]++; %>
<% } %>
<% } %>
<% } %>
<table border="1" width="1000px">
	<tbody>
		<tr>
			<%if(showtally){%>
			<td colspan="2">
			<%}else{%>
			<td>
			<%}%>
				<%-description;%>
			</td>
		</tr>
		<%for(var i = 0; i < answers.length; i++){%>
		<%if(youranswer == i){%>
		<tr style="background-color:lightblue; font-weight:bold">
		<%}else{%>
		<tr>
		<%}%>
			<td onclick="changeResponse(<%=id%>, <%=i%>, '<%=yourcomment%>', deployQuestion);">
			<input type="checkbox"<%if(youranswer == i){%> checked<%}%>>
			<%= answers[i]; %>
			</td>
			<%if(showtally){%>
			<td width="100px"><%= tallies[i]; %> total</td>
			<%}%>
		</tr>
		<%}%>
		<tr>
			<%if(showtally){%>
			<td colspan="2">
			<%}else{%>
			<td>
			<%}%>
				<textarea cols=10 id="q<%= id; %>comment" type="textfield" style="width:980px; height:150px" placeholder="Write a comment here"><%=yourcomment;%></textarea>
				<br/>
				<button style="float:right" onclick="changeResponse(<%=id%>, <%=youranswer%>, $('#q<%= id; %>comment').val(), retractQuestion);">Submit</button>
				<button style="float:right" onclick="changeResponse(<%=id%>, <%=youranswer%>, $('#q<%= id; %>comment').val(), deployQuestion);">Save</button>
			</td>
		</tr>
	</tbody>
</table>
<%if(showresp){%>
<table border="1" width="1000px">
	<tbody>
		<tr>
			<th>Name</th>
			<th>Selection</th>
			<th>Comment</th>
		</tr>
		<%for(var i = 0; i < responses.length; i++){%>
		<%if(i == you){%>
		<tr style="background-color:lightblue; font-weight:bold">
		<%}else{%>
		<tr>
		<%}%>
			<td onclick="getBio('<%=responses[i].email;%>');"><%=responses[i].name;%></td>
			<td><%= (responses[i].answer >= 0) ? answers[responses[i].answer] : "-"%></td>
			<td style="white-space:pre-wrap"><%=responses[i].comment;%></td>
		</tr>
		<%}%>
	</tbody>
</table>
<%}%>