<script>
function deployQuestion(id)
{
	var options = <%- JSON.stringify(options)%>;
	$('#q'+id+'data').empty();
	$.post('/fetchquestion', {id: id, options: options}, function(data)
	{
		if(data.success)
		{
			$('#q'+id+'data').append(data.content);
			$('#q'+id+'data').slideDown();
			$('#q'+id+'title').attr("onclick", "retractQuestion("+id+");");
		}
	});
}
function retractQuestion(id)
{
	$('#q'+id+'data').slideUp();
	$('#q'+id+'title').attr("onclick", "deployQuestion("+id+");");
}
function showAll()
{
<%for(var i = 0; i < questions.length; i++){%>
deployQuestion("<%=questions[i].id;%>");
<%}%>
}
function hideAll()
{
<%for(var i = 0; i < questions.length; i++){%>
retractQuestion("<%=questions[i].id;%>");
<%}%>
}
</script>
<p>
	SURVEY TITLE: <b><%= title; %></b>
	<button onclick="showAll();">Show All</button>
	<button onclick="hideAll();">Hide All</button>
	<br/>
<%var d = new Date(exptime);%>
<%=' Expires ' + (d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear() + ' at ' + d.getHours() + ':' + ("0" + d.getMinutes()).slice(-2)%>
</p>
<%for(var i = 0; i < questions.length; i++){%>
<div id="<%=questions[i].id;%>" class="qid"></div>
<div id="q<%= questions[i].id; %>box">
	<table border="1" width="1000px">
		<tr>
			<td id="q<%= questions[i].id; %>title" onclick="deployQuestion(<%= questions[i].id; %>);//$('#q<%= questions[i].id; %>data').slideToggle('slow');//alert('AYY');">
				<b><%= i + 1; %>: <%= questions[i].title; %></b>
			</td>
		</tr>
	</table>
	<div id="q<%= questions[i].id; %>data" class="qdata" style="display:none">
		<table border="1" width="1000px">
			<tbody>
				<tr>
					<td>
						ERROR
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<br/>
<br/>
<%}%>